html, body {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#result-div {
    width: 90%;
    margin: 20px auto;
    min-height: 200px;
    border-radius: 5px;
}

#result-p {
    font-size: 25px;
    text-align: center;
    font-family: 'Coiny', cursive;
    color: darkblue;
    width: 90%;
    word-wrap: break-word;
    background-color: orange;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: orange;
    font-weight: bold;
    background-color: cadetblue;
    text-align: center;
}

#outer-input-div {
    height: 250px;
    margin: 0 auto;
}

#inner-input-div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 6px;
}

#depth-input-field, #cas-button {
    margin: 8px 0;
    border-radius: 5px;
    outline: none;
    width: 90%;
    font-family: 'Arimo', sans-serif;
}

#cas-button {
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 20px;
    background-color: orange;
    color: white;
}

#cas-button:hover {
    background-color: darkorange;
}

#depth-input-field {
    display: inline-block;
    border: 1px solid #cccccc;
    font-weight: bold;
    padding: 8px 4px;
    font-size: 20px;
    color: cadetblue;
}

#depth-label, #chars-p {
    width: 90%;
    color: white;
    display: inline-block;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

#chars-p {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    #wrapper {
        width: 1200px;
    }
}